version: '3'

services:
  web:
    image: nginx:alpine
    container_name: freelance_calculator
    restart: unless-stopped
    ports:
      - "53000:80" # Puerto personalizado para tu servidor
    volumes:
      - ./:/usr/share/nginx/html # Monta la carpeta actual como web root
