version: '3'

services:
  # 1. Contenedor que descarga el código (init container)
  git-puller:
    image: alpine:latest
    container_name: git_puller
    # Instala Git y CA-Certificates, limpia la carpeta (incluyendo .git oculto) y clona de nuevo
    command: /bin/sh -c "apk add --no-cache git ca-certificates && (rm -rf /data/.git /data/* || true) && git clone https://github.com/marakaton/calculadora-freelance.git /data && rm -rf /data/.git"
    volumes:
      - web-content:/data

  # 2. Servidor web que lee el código descargado
  web:
    image: nginx:alpine
    container_name: freelance_calculator
    restart: always
    ports:
      - "53000:80"
    volumes:
      - web-content:/usr/share/nginx/html
    depends_on:
      - git-puller

volumes:
  web-content:
