version: '3'

services:
  web:
    build: .
    image: freelance-calculator:latest
    container_name: freelance_calculator
    restart: unless-stopped
    ports:
      - "53000:80" # Puerto personalizado para tu servidor
