version: '3'

services:
  # 1. Contenedor que descarga el c贸digo (init container)
  git-puller:
    image: alpine:latest
    container_name: git_puller
    # Script para clonar y mover archivos a /data
    command: /bin/sh -c "apk add --no-cache git ca-certificates && (rm -rf /data/.git /data/* || true) && git clone https://github.com/marakaton/calculadora-freelance.git /temp_repo && mv /temp_repo/* /data/ && rm -rf /temp_repo"
    volumes:
      - web-content:/data
    networks:
      - bridge

  # 2. Servidor web que lee el c贸digo descargado
  web:
    image: nginx:alpine
    container_name: freelance_calculator
    restart: always
    # Eliminamos puertos expuestos para usar SOLO Caddy
    # ports:
    #  - "53000:80"
    expose:
      - "80"
    volumes:
      - web-content:/usr/share/nginx/html
    depends_on:
      - git-puller

    # Configuraci贸n de Red igual que Nobella
    networks:
      - network_general_internal
      - bridge

    # Configuraci贸n de Caddy (Copiada de Nobella)
    deploy:
      mode: replicated
      replicas: 1
      labels:
        caddy: freelancecalc.net, www.freelancecalc.net
        caddy.reverse_proxy: "{{upstreams 80}}"
        caddy.reverse_proxy.header_up_1: "Host {host}"
        caddy.reverse_proxy.header_up_2: "X-Forwarded-Proto {scheme}"
        caddy.reverse_proxy.header_up_3: "X-Forwarded-Host {host}"
        caddy.reverse_proxy.trusted_proxies: "private_ranges"

volumes:
  web-content:


networks:
  network_general_internal:
    external: true
  bridge:
    external: true
