version: '3'

services:
  # 1. Contenedor que descarga el código (init container)
  git-puller:
    image: alpine:latest
    container_name: git_puller
    # CORREGIDO: Clona en carpeta temporal y mueve el contenido a /data (root)
    command: /bin/sh -c "apk add --no-cache git && rm -rf /data/* && git clone https://github.com/marakaton/calculadora-freelance.git /temp_repo && mv /temp_repo/* /data/ && rm -rf /temp_repo"
    volumes:
      - web-content:/data

  # 2. Servidor web que lee el código descargado
  web:
    image: nginx:alpine
    container_name: freelance_calculator
    restart: always
    ports:
      - "53000:80"
    volumes:
      - web-content:/usr/share/nginx/html
    depends_on:
      - git-puller

volumes:
  web-content:
