version: '3'

services:
  web:
    image: nginx:alpine
    container_name: freelance_calculator
    restart: unless-stopped
    ports:
      - "8080:80" # Cambia 8080 por el puerto que quieras usar en tu servidor
    volumes:
      - ./:/usr/share/nginx/html # Monta la carpeta actual como web root
